.git
.gitignore
.docker/*
!.docker/order-env.tar.gz
.env
env.example
logs/
temp/
temp_files/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.vscode/
.idea/
test/
*.md
!README.md
